@charset "UTF-8";
:root {
  --bg1: black;
  --bg2: rgb(20, 18, 18);
  --bg3: #1d1d1e;
  --fontColor1: white;
  --fontColor2:rgb(53, 125, 220);
  --fontColor3: rgb(152, 150, 150);
  --buttonMargin: 0 1vw 0 1vw;
  --listMargin: 0 2vw 0 2vw;
  --buttonColor: rgb(27, 95, 221);
  --fontWeight: 300px;
  --buttonColor2: rgb(171, 171, 171);
}

* {
  margin: 0;
  padding: 0;
  font-size: 1vw;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
}

.page {
  width: 100vw;
  height: 100vh;
}

.bg1 {
  background-color: var(--bg1);
}

.bg2 {
  background-color: var(--bg2);
}

/* aside, 상단 국가 선택 */
aside {
  background-color: var(--fontColor1);
}
aside > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 5vh;
  padding: 0 10vw 0 10vw;
}
aside > div:nth-child(1) > :nth-child(1), aside > div:nth-child(1) > :nth-child(2) {
  display: inline-block;
  width: 40vw;
  color: black;
}
aside > div:nth-child(1) > :nth-child(3), aside > div:nth-child(1) > :nth-child(4) {
  margin: var(--buttonMargin);
}
aside > div:nth-child(1) > :nth-child(3) > :nth-child(1), aside > div:nth-child(1) > :nth-child(4) > :nth-child(1) {
  width: 5vw;
  height: 5vh;
  color: black;
}

/* menu wrapper */
.header > :nth-child(2) {
  height: 5vh;
}
.header > :nth-child(2) > :nth-child(1) > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header > :nth-child(2) > :nth-child(1) > ul > li {
  display: inline-block;
  margin: var(--listMargin);
}

.header > :nth-child(3) {
  height: 15vh;
  width: 100vw;
  background-color: var(--bg3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header > :nth-child(3) > p > a {
  color: var(--fontColor2);
}

.header > :nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20vh;
}
.header > :nth-child(4) > h2 {
  margin-bottom: 5vh;
}

.header > :nth-child(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header > :nth-child(5) > button {
  background-color: var(--buttonColor);
  border-radius: 5vw;
  width: 10vw;
  margin-top: 10vh;
}

main > section:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main > section:nth-child(1) > header {
  width: 70vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
}
main > section:nth-child(1) > header > :nth-child(1) {
  font-size: 3vw;
  color: #8f8f9a;
  display: inline-block;
  font-weight: var(--fontWeight);
}
main > section:nth-child(1) > header > :nth-child(2) :nth-child(1), main > section:nth-child(1) > header > :nth-child(2) :nth-child(2) {
  font-size: 1.5vw;
  color: var(--fontColor2);
  margin: 1vh;
}
main > section:nth-child(1) > div:nth-child(2) {
  background-color: black;
  width: 80vw;
  height: 50vh;
  border-radius: 3vw;
}
main > section:nth-child(1) > div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main > section:nth-child(1) > div:nth-child(3) > ul {
  background-color: rgb(171, 171, 171);
  border-radius: 3vw;
  width: 15vw;
  height: 10vh;
  margin: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main > section:nth-child(1) > div:nth-child(3) > ul > li {
  display: inline-block;
  margin: 1vw;
}
main > section:nth-child(1) > div:nth-child(3) > div {
  width: 7vw;
  height: 10vh;
  border-radius: 50%;
  background-color: var(--buttonColor2);
}
main > section:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main > section:nth-child(2) > header {
  width: 70vw;
  height: 10vh;
  text-align: left;
  align-items: baseline;
}
main > section:nth-child(2) > header > h2 {
  font-size: 3vw;
  color: #8f8f9a;
  display: inline-block;
}
main > section:nth-child(2) > div:nth-child(2) {
  width: 80vw;
  height: 40vh;
  background-color: var(--bg3);
}
main > section:nth-child(2) > p:nth-child(3) {
  font-size: 1vw;
  margin-top: 5vh;
}
main > section:nth-child(2) > div:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main > section:nth-child(2) > div:nth-child(4) > ul {
  background-color: rgb(171, 171, 171);
  border-radius: 3vw;
  width: 15vw;
  height: 10vh;
  margin: 2vw;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main > section:nth-child(2) > div:nth-child(4) > ul > li {
  display: inline-block;
  margin: 1vw;
}
main > section:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main > section:nth-child(3) > header {
  width: 70vw;
  height: 10vh;
  text-align: left;
}
main > section:nth-child(3) > header > h2 {
  font-size: 3vw;
  color: #8f8f9a;
  display: inline-block;
}/*# sourceMappingURL=style.css.map */