*{
  border: 1px;
  padding: 0;
  margin:0;
}

.container{
  width: 1280px;
  height: 800px;
  display: flex;
  
}

.container>:nth-child(1), .container>:nth-child(3){
  width: 100px;
  height: 800px;
  border: solid;
  display: flex;
  flex-direction: column;
}
.container>:nth-child(1)>:nth-child(1){
  width: 100px;
  height: 100px;
  border: solid;
}
.container>:nth-child(1)>:nth-child(2){
  width: 100px;
  height: 700px;
  border: solid;
}

.container>:nth-child(2){
  width: 200px;
  height: 800px;
  border: solid;
}
.container>:nth-child(3)>:nth-child(1){
  width: 100px;
  height: 500px;
  border: solid;
}
.container>:nth-child(3)>:nth-child(2){
  width: 100px;
  height: 100px;
  border: solid;
}
.container>:nth-child(3)>:nth-child(3){
  width: 100px;
  height: 100px;
  border: solid;
}
.container>:nth-child(3)>:nth-child(4){
  width: 100px;
  height: 100px;
  border: solid;
}
.container>:nth-child(4){
  width: 880px;
  height: 800px;
  border: solid;
}
